@import 'normalize.css';
@import 'base/_global.css';
@import 'modules/_slide-bg.css';
@import 'modules/_site-wrapper.css';
@import 'modules/_page-section.css';

@font-face {
    font-family: 'HoeflerText-Regular';
    src: url('fonts/HoeflerText-Regular.eot'),
        url('assets/styles/fonts/HoeflerText-Regular.svg') format('svg'),
        url('assets/styles/fonts/HoeflerText-Regular.ttf') format('truetype'),
        url('assets/styles/fonts/HoeflerText-Regular.woff') format('woff'),
        url('assets/styles/fonts/HoeflerText-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}