.btn {
    border: none;
    background-color: $white;
    cursor: pointer;

    &--medium {
        font-family: 'Bebas Neue', cursive;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 1px;
        font-size: 1.5rem;
        text-transform: uppercase;
        padding: 22px 28px;
    }

    &--color {
        background-color: $cabaret;
        color: $white;

        @mixin atMedium {
            background-color: $white;
            color: $cabaret;
        }
    }

    &--padding {
        padding: 0px 10px;
    }

    &--width {
        @mixin atMedium {
            width: 36%;
            margin-right: 7px;
        }
    }

    &:focus,
    &:hover {
        background-color: $white;
        border: 1px solid $cabaret;
        color: $cabaret;
        outline: none;
    }
}