.btn {
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-family: 'Avenir-Book', sans-serif;

    &--medium {
        font-size: 0.875rem;
        text-transform: uppercase;
        padding: 22px 28px;
    }

    &--cabaret {
        color: $cabaret;
    }
}