.content-section {
    display: flex;
    flex-direction: column;
    background-color: $white;

    @mixin atMedium {
        justify-content: space-between;
        height: 100vh;
        width: 73%;
    }

    @mixin atExtraLarge {
        width: 43%;
    }

    &__text {
        opacity: 0.8;
        padding: 35px 25px;
    }
}