.feature-item {
    font-family: 'Avenir-Book', sans-serif;
    color: $martinique;

    &--medium {
        font-size: 0.875rem;
    }

    &--cabaret {
        color: $cabaret;
        text-transform: uppercase;
    }

    &::placeholder {
        font-size: 1rem;
    }

    &--small::placeholder {
        font-size: 0.75rem;
    }
}