.site-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 43%;
    max-width: 620px;
    height: 100vh;
    background-color: #fff;
    padding: 35px 45px;
}