.site-footer {
    display: flex;
    flex-direction: column;

    @mixin atMedium {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__text {
        margin: 0;
        line-height: 1.6;
    }

    &__links {
        text-decoration: none;
        color: $martinique;
    }

    &__links:hover {
        color: $cabaret;
    }

    &__copyright {
        font-size: 0.75rem;
        font-family: 'HoeflerText-Regular', sans-serif;
        color: $waterloo;

        @mixin atMedium {
            order: -1;
            margin-bottom: -4px;
        }
    }

    &__social {
        /* align-self: flex-end;
        margin-bottom: 35px; */

        @mixin atMedium {
            margin-bottom: -7px;
        }
    }

    &__social-links {
        transition: all .2s ease-in-out;
        margin-right: 7px;
        width: 40px;
        height: auto;

        &--margin {
            margin-right: 0;
        }
    }

    &__social-links:hover {
        transform: scale(1.2);
        filter: invert(0.3) brightness(1.2);
    }

    &--right {
        align-self: flex-end;
        margin-bottom: 35px;

        @mixin atMedium {
            margin-bottom: 0px;
        }
    }
}