.site-input {
    font-family: 'Avenir-Book', sans-serif;
    color: $martinique;
    border-style: hidden;

    &--padding {
        padding: 23px;
    }

    &--cabaret {
        color: $cabaret;
        text-transform: uppercase;
    }

    &--margin {
        margin-bottom: 25px;

        @mixin atMedium {
            @media (min-width: 768px) {
                margin-bottom: 0px;
            }
        }
    }

    &--blink {
        border-left: solid 3px $cabaret;
        animation: blinking .7s step-end infinite alternate;
    }

    @keyframes blinking {
        50% {
            border-left: #fff;
            margin-left: 3px;
        }
    }

    &--blink:focus {
        border-left: solid 3px $cabaret;
        animation-play-state: paused;
    }

    &::placeholder {
        font-size: 1rem;
    }

    &--search {
        width: 85%;
        line-height: 3.15;
        padding-left: 5px;
        transition: width 0.5s;

        @mixin atMedium {
            @media (min-width: 768px) {
                line-height: 2.15;
            }
        }
    }

    &--small::placeholder {
        font-size: 0.75rem;
        text-align: left;
    }
}

.site-input:focus {
    outline: none;
    background: #dadada;
}