.site-footer {
    &__text {
        margin: 0;
        line-height: 1.6;
    }

    &__links {
        text-decoration: none;
        color: $martinique;
    }

    &__links:hover {
        color: $cabaret;
    }

    &__copyright {
        font-size: 0.75rem;
        font-family: 'HoeflerText-Regular', sans-serif;
        color: $waterloo;
        text-align: end;
    }

    &__social {
        align-self: flex-end;
        margin-bottom: 55px;
    }

    &__social-links {
        transition: all .2s ease-in-out;
        margin-right: 7px;
        width: 40px;
        height: auto;
        /* fill: #b2dae8; */
    }

    &__social-links:hover {
        transform: scale(1.2);
        filter: invert(0.4);
        /* fill: #0084B4; */
    }

    &--noDisplay {
        display: none;

        @mixin atMedium {
            display: block;
        }
    }

    &--display {
        display: block;
        margin-top: 55px;

        @mixin atMedium {
            display: none;
        }
    }
}