.site-input {
    font-family: 'Avenir-Book', sans-serif;
    color: $martinique;
    border-style: hidden;
    padding: 10px;
    width: 100%;

    @mixin atMedium {
        @media (min-width: 768px) {
            width: 61%;
        }
    }

    &--padding {
        padding-top: 23px;
        padding-bottom: 23px;
    }

    &--margin {
        margin-bottom: 25px;

        @mixin atMedium {
            @media (min-width: 768px) {
                margin-bottom: 0px;
            }
        }
    }

    &--cabaret {
        color: $cabaret;
        text-transform: uppercase;
    }

    &--blink {
        border-left: solid 3px $cabaret;
        animation: blinking .7s step-end infinite alternate;
    }

    @keyframes blinking {
        50% {
            border-left: #fff;
            margin-left: 3px;
        }
    }

    &--blink:focus {
        border-left: solid 3px $cabaret;
        animation-play-state: paused;
    }

    &::placeholder {
        font-size: 1rem;
    }

    &:focus {
        outline: none;
        background: #dadada;
    }
}

&--small::placeholder {
    font-size: 0.75rem;
    text-align: left;
}