.site-header {

    &__logo {
        width: 25%;

        @mixin atSmall {
            width: 20%;
        }

        @mixin atMedium {
            width: 15%;
        }

        @mixin atLarge {
            width: 20%;
        }
    }
}