.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    @mixin atLarge {
        flex-direction: row;
        height: 100vh;
    }

    &--display {
        display: flex;
        justify-content: space-between;
    }

    &--column {
        flex-direction: column;

        @mixin atMedium {
            flex-direction: row;
        }
    }
}