.wrapper {
    height: 2000px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;

    @mixin atMedium {
        flex-direction: row;
        height: 100vh;
    }

    &--display {
        display: flex;
        justify-content: space-between;
    }

    &--column {
        flex-direction: column;

        @mixin atLarge {
            flex-direction: row;
        }
    }
}